NODE_ENV=development
PORT=5000
USER_NAME=ruaastore
PASSWORD=hOhARVBYxktP98oa
DATABASE_URL=mongodb+srv://ruaastore:hOhARVBYxktP98oa@ruaastore.21yfebk.mongodb.net/?retryWrites=true&w=majority&appName=ruaaStore
# DATABASE_URL=mongodb://localhost:27017/cms #Development URL
# DATABASE_URL=mongodb+srv://icchaporoncom:JaaWgCBXoOII5TWD@cluster0.hz4wp.mongodb.net/icchaporon-v1?retryWrites=true&w=majority&appName=Cluster0 #Production URL

BCRYPT_SALT_ROUNDS=12
DEFAULT_PASS=123456

JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret

PASSWORD_RESET_SECRET=password_reset_secret
PASSWORD_RESET_EXPIRES_IN=7d

JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

EMAIL=email@example.com
APP_PASSWORD=app_password
CLIENT_URL=http://localhost:5020

STEADFAST_API_KEY=46bjmrixr4jvpofg6erq8vkbiepjkirw 
STEADFAST_SECRET_KEY=y5rzy44g0c5hbkpynltchuoy 
STEADFAST_BASE_URL=https://portal.packzy.com/api/v1
STEADFAST_EMAIL=nrzone12@gmail.com
STEADFAST_PASSWORD=Ali@12345








CLOUDINARY_CLOUD_NAME=dvnc5aavg
CLOUDINARY_API_KEY=337125662556963
CLOUDINARY_API_SECRET=6EnPjwTKCIiJ8wu1WiOO4T13ihg
SUPER_ADMIN_USERNAME=superAdmin

SUPER_ADMIN_EMAIL=superadmin@gmail.com
SUPER_ADMIN_PASSWORD=superAdmin
